Address = "{{ mailroom_address }}"
Port = {{ mailroom_port }}
LogLevel = "{{ mailroom_log_level }}"
SentryDSN = "{{ mailroom_sentry_dsn }}"
DB = "{{ mailroom_postgresql_url }}"
Redis = "{{ mailroom_redis_url }}"
AWSAccessKeyID = "{{ mailroom_aws_access_key_id }}"
AWSSecretAccessKey = "{{ mailroom_aws_secret_access_key }}"
S3Endpoint = "{{ mailroom_s3_endpoint }}"
S3Region = "{{ mailroom_s3_region }}"
S3DisableSSL = {{ mailroom_s3_disable_ssl }}
S3ForcePathStyle = {{ mailroom_s3_force_path_style }}
S3MediaBucket = "{{ mailroom_s3_media_bucket }}"
LibratoToken = "{{ mailroom_librato_token }}"
LibratoUsername = "{{ mailroom_librato_username }}"
